*{
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 100%;
}


header {
    text-align: center;
    font-family: 'Raleway', sans-serif
}

a {
    text-decoration: none;
    color: rgb(201, 200, 200);
}

footer {
    text-align: center;
    background-color: rgb(201, 200, 200);
    font-family: 'Raleway', sans-serif
}

div {
    border: solid rgb(201, 200, 200);
}


.banner, img {
    text-align: center;
    width: 100%;
}